.contact {
    background-color: #F5F5F5;
    overflow: hidden;

    &-inner{
        visibility: hidden;
        display: flex;
        align-items: center;

        @include mobile-s {
            text-align: center;
            flex-direction: column;
        }

        @include laptop {
            text-align: left;
            flex-direction: row;

        }
    }
    

     @include mobile-s {
        padding: 40px $margin-m;
    }

    @include laptop {
        padding: 90px 144px 90px $margin-l;
    }

    button {

        @include mobile-s {
            margin-bottom: 30px;
        }
    
        @include laptop {
            margin-bottom: 0;
            margin-left: 45px;
        }
        
    }
}