.portfolio {

    &-inner {
        visibility: hidden;
    }

    @include mobile-s {
        padding: 32px 16px;
    }

    @include mobile-l {
        padding: 32px 32px;
    }

    @include laptop {
        padding: 32px 64px 32px 64px;
    }

    @include laptop-l {
        padding: 32px 64px 32px 64px;
    }

    &__subtitle {
        width: 90%;
    }

    &__items {
        display: grid;
        padding: 32px 0;

        @include mobile-s {
            margin-top: 30px;
            grid-column-gap: 38px;
            grid-row-gap: 38px;
            grid-template-columns: repeat(1, 1fr);
        }

        @include laptop {
            grid-template-columns: repeat(2, 1fr);
        }

        @include laptop-l {
            grid-template-columns: repeat(3, 1fr);
            margin-top: 0;
            grid-column-gap: 84px;
        }
    }
}

.portfolio-card {
    // border: 1px solid rgba(0, 0, 0, 0.5);
    @include shadow-dreamy;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;

    img {
        width: 100%;
    }

    button {
        margin-top: auto;
        width: max-content;
        @include mobile-s{
            margin-left: 32px;
        }
    
        @include laptop-l {
            margin-left: 64px;
        }
    }

    &__content {
        display: flex; 
        flex-direction: column;

        @include mobile-s{
            padding: 32px;
        }
    
        @include laptop-l {
            padding: 70px 64px;
        }
    }
}

.button-container {
    padding: 64px 0;
    display: flex;
    justify-content: center;
}