@import "base";
@import "breakpoints";
@import "typography";
@import "animations";
@import "buttons";
@import "shadow";
@import "navbar";
@import "hero";
@import "studies";
@import "about";
@import "portfolio";
@import "skills";
@import "contact";
@import "footer";
@import "project-card";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
//Montserra 
body {
    font-family: 'Poppins', sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;

    li {
        a {
            text-decoration: none;
            color: #000;
        }
    }
}

.container {
    position: relative;
    overflow: auto;
    background: #F3F4F6;
}

.button-group {
    padding: 1rem 0;
   button {
       margin-right: 15px;
   }
}