.btn {
    height: 52px;
    width: 192px; 
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: transparent;
    display: inline-block;
    // margin-left: 45px;
}