// FOOTER
.footer {
    background-color: #F5F5F5;

    @include mobile-m {
        padding: 0 $margin-m;
    }

    @include laptop {
        padding: 0 $margin-l;
    }

    &__nav {

        display: flex;
        // justify-content: flex-end;
        // align-items: flex-start;
        padding: 60px 0px;

        @include mobile-s {
            flex-direction: column;
            align-items: center;
            // justify-content: space-between;
            // align-items: flex-start;
        }

        @include mobile-l {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        
        @include tablet {
            justify-content: flex-end;
            align-items: flex-start;
        }

        ul {

            margin-top: 0;
            padding-left: 0;

            @include mobile-s {
                text-align: center;
            }

            @include mobile-l {
                text-align: left;
            }

            li {

                padding-bottom: 8px;

                a {

                    font-size: 15px;
                    font-weight: 400;
                    letter-spacing: -1.5%;


                }
            }
        }
    }

    &__button-group {

        button {
            display: block;
            margin-bottom: 16px;

            @include mobile-l {
                margin-left: 45px;
            }
        }

    }

    &__social-links {

        display: flex;

        @include mobile-s {
            flex-direction: column;

        }
        
        @include tablet {
            flex-direction: row;
            padding: 32px 0px 54px 0px;
            display: flex;
            justify-content: space-between;
        }

        @include laptop {
            padding: 32px 0px 120px 0px;
        }

        p {
            font-weight: 300;
            font-size: 15px;

            @include mobile-s {
                padding-left: 20px;
            }

            @include tablet {
                padding-left: 0px;
            }
        }

        ul {

            padding-left: 0;

            li {

                display: inline-block;
                margin-left: 20px;

                a {
                    display: flex;
                    height: 40px;
                    width: 40px;
                    border-radius: 40px;
                    border: 1px solid $blue;
                    background: $blue;
                    color: $white;
                    justify-content: center;
                    align-items: center;

                }
            }
        }
    }
}