// HERO SECTION
@import "breakpoints";

.hero {

    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;

    @include tablet {
        height: 438px;
        hr {
            display: none;
        }
    }

    @include laptop {
        height: 585px;
        margin-top: 60px;
    }

    @include laptop-l {
        height: 822px;
    } 

    @include screen-xl {
        height: 960px;
    }

    .content {

        @include mobile-s {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            padding: 120px $margin-m;
            box-sizing: border-box;

        }

        @include tablet {
            text-align: left;
            overflow: auto;
            float: left;
            height: 100%;
            display: inline-flex;
            justify-content: center;
            flex-direction: column;
            width: 50%;
            padding: 0 $margin-m;
        }

        @include laptop {
            padding: 0 $margin-l;
        }
    }

    .image {
        background-color: #f5f5f5;

        @include mobile-s {
            display: none;
        }
        

        @include tablet {
            height: 100%;
            width: 50%;
            display: inline-block;
            box-sizing: border-box;
        }
    }

    &__title {

        @include mobile-s {
            font-size: 25px;
            line-height: 36px;
        }

        @include laptop {
            margin: 40px 0;
            font-size: 34px;
            line-height: 48px;
            font-weight: 400;
            letter-spacing: -1.5%;
        }

        @include laptop-l {
            font-size: 48px;
            line-height: 68px;
        }

        @include screen-xl {
            font-size: 56px;
            line-height: 80px;
        }

    }

    &__paragraph {

        font-size: 1.4em;
        line-height: 1.8;
        color: $dark-grey;
        

        @include desktop {
            font-size: 1em;
            line-height: 1.6;
            font-weight: 300;
        }

        
    }

    &__btn {
        
        padding: 1em 2em;
        margin-top: 40px;
        width: 190px;
        border: 2px solid black;
        color: black;
        font-weight: bold;
        border: 2px solid black;
        font-size: 17px;
        font-weight: 400;
        background-color: transparent;
        border-radius: 4px;
        cursor: pointer;
        // animation: wobble-hor-bottom 0.8s;
        // animation-delay: 1s;
    
        //@include radial-out;

        @media screen and (min-width: 320px) {
        }
        
    }

    &__image {
        display: none;
        
        //width: 100%;
        //transform: translate(12%);
    
        @include shadow-dreamy;
    
        @media screen and (min-width: 1200px) {
            display: block;
            grid-column-start: 7;
            grid-column-end: 13;
            justify-self: center;
            width: 70%;
            height: 80%;
            margin-top: 10%;
            grid-row-start: 1;
            z-index: 0;
            //transform: translate(0%);
        }
    
    }

    h2 {
        display: none;

        @include desktop {
            display: block;
            height: max-content;
            grid-row-start: 1;
            grid-column-start: 7;
            grid-column-end: 13;
            z-index: 1;
            font-size: 7em;
            margin: 0;
            justify-self: center;
        }
    }
}