// HERO SECTION
@import "breakpoints";

.hero {

    position: relative;
    z-index: 0;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    color: $black;
    //background: linear-gradient(185deg, #fff0 80%, #000000d6 80%);

    .content {
        text-align: center;
        padding-top: 90px;
        margin: 0 auto;
        padding-left: 32px;
        padding-right: 32px;

        hr {
            margin-top: 50px;
        }

        @include desktop {
            width: 70%;
        }

    }

    @media screen and (min-width: 1200px) {
        min-height:  max-content;
        height: max-content;
        margin-top: 10vh;
        box-sizing: border-box;
        overflow: auto;
    }

    &__title {

        font-weight: 500;
        line-height: 1.5em;

        @include desktop {

            margin: 1em 0;
            font-size: 2.2em;

        }

    }

    &__paragraph {

        font-size: 1.4em;
        line-height: 1.8;
        color: $dark-grey;
        

        @include desktop {
            font-size: 1em;
            line-height: 1.6;
            font-weight: 300;
            width: 70%;
            margin: 0 auto;
        }

        
    }

    &__btn {
        
        padding: 1em 2em;
        //background: royalblue;
        border: 2px solid black;
        color: black;
        font-weight: bold;
        border: 2px solid black;
        font-size: 1em;
        background-color: transparent;
        border-radius: 2px;
        cursor: pointer;
        margin-top: 2em;
        animation: wobble-hor-bottom 0.8s;
        animation-delay: 1s;
    
        //@include radial-out;

        @media screen and (min-width: 320px) {
            margin-top: 40px;
            margin-right: 0;
            margin-bottom: 40px;
        }
        
    }

    &__image {
        display: none;
        
        //width: 100%;
        //transform: translate(12%);
    
        @include shadow-dreamy;
    
        @media screen and (min-width: 1200px) {
            display: block;
            grid-column-start: 7;
            grid-column-end: 13;
            justify-self: center;
            width: 70%;
            height: 80%;
            margin-top: 10%;
            grid-row-start: 1;
            z-index: 0;
            //transform: translate(0%);
        }
    
    }

    h2 {
        display: none;

        @include desktop {
            display: block;
            height: max-content;
            grid-row-start: 1;
            grid-column-start: 7;
            grid-column-end: 13;
            z-index: 1;
            font-size: 7em;
            margin: 0;
            justify-self: center;
        }
    }
}