.skills {
    text-align: center;
    padding-top: 150px;
    overflow: hidden;
    
    &-inner {visibility: hidden;}

    @include mobile-s {
        height: max-content;
        padding-bottom: 68px;
        padding-top: 68px;
    }

    @include laptop {
        height: max-content;
        padding-bottom: 120px;
        padding-top: 150px;
    }

    @include laptop-l {
        height: 608px;
    }

    

    h3, h2 {

        @include mobile-s {
            margin: 0 $margin-m;
            text-align: left;
        }
        @include tablet {
            margin: 0 auto;
            text-align: center;
        }
    }

    h2 {
        margin-bottom: $margin-m;
    }

    p {
        width: 80%;
        margin: 0 auto;
    }

    &__items {
       display: grid; 
       margin: 0 auto;
       margin-top: $margin-l;

       @include mobile-s {
            width: 60%;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            height: max-content;
            padding-bottom: 68px;
            padding-top: 68px;
            grid-column-gap: 18px;
            grid-row-gap: 18px;
        }

        @include mobile-m {
            grid-column-gap: 21px;
            grid-row-gap: 21px;
        }

        @include mobile-l {
            grid-column-gap: 38px;
            grid-row-gap: 38px;
        }

        @include tablet {
            width: 55%;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 38px;
            grid-row-gap: 30px;
       }

       @include laptop {
            grid-column-gap: 84px;
            grid-row-gap: 64px;
        }
    }

    &__item {
        height: 76px;
        width: 100%;
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 80%;
        }
    }
}