.studies {

    @include mobile-s {
        padding: $margin-m;
    }

    @include tablet {
        padding: 73px 0px 73px $margin-m;
    }

    @include laptop {
        height: max-content;
        box-sizing: border-box;
        padding: 60px 0px 200px $margin-l;
    }

    &__item {
        display: inline-block;
        box-sizing: border-box;
        padding-right: $margin-l;
        position: relative;
        height: 245px;
        width: 500px;

        &-inner {
            position: absolute;
            width: 100%;
            padding-right: 80px;
            box-sizing: border-box;
            bottom: -300px;
            opacity: 0;
        }

        @include mobile-s {
            padding-right: 0;
            display: block;
            width: 100%;
        }

        @include tablet {
            padding-right: $margin-l;
            padding-right: $margin-m;
            display: inline-block;
            width: 50%;
        }
    
        @include laptop {
            padding-right: $margin-l;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: -1.5%;
            margin-bottom: 32px;
        }

        button {
            padding: 1em 2em;
            background: transparent;
            border-radius: 5px;
            cursor: pointer;
            border: 1px solid black;
        }
    }
}