.studies {
    overflow: hidden;
    
    &-inner {
        visibility: hidden;
    }

    @include mobile-s {
        padding: $margin-m;
    }

    @include tablet {
        padding: 73px 0px 73px $margin-m;
    }

    @include laptop {
        height: max-content;
        box-sizing: border-box;
        padding: 60px 0px 200px $margin-l;
    }

    &__item {
        display: inline-flex;
        box-sizing: border-box;
        padding-right: $margin-l;

        &-inner {

        }

        @include mobile-s {
            padding-right: 0;
            display: block;
            width: 100%;
            padding: 20px 0;
        }

        @include tablet {
            padding-right: $margin-l;
            padding-right: $margin-m;
            display: inline-flex;
            width: 50%;
        }
    
        @include laptop {
            padding-right: $margin-l;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: -1.5%;
            margin-bottom: 32px;
        }
    }
}