@import "base";
@import "animations";
@import "shadow.scss";
@import "navbar";
@import "hero";

@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body {
    font-family: 'Fira Sans Condensed', sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    padding: 0;
    margin: 0;

}

.container {
    position: relative;
    overflow: auto;
}