@import "base";
@import "typography";
@import "animations";
@import "shadow.scss";
@import "navbar";
@import "hero";
@import "portfolio";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    padding: 0;
    margin: 0;

}

.container {
    position: relative;
    overflow: auto;
}

.studies {
    height: 750px;
    padding: 120px 0px 120px 80px;
    box-sizing: border-box;

    &__title {
        font-size: 48px;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: -1.5%
    }

    &__item {
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        padding-right: 80px;

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: -1.5%;
            margin-bottom: 32px;
        }

        button {

            padding: 1em 2em;
            background: transparent;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.about {
    height: 600px;
    width: 100vw;
    background-color: #F5F5F5;
    padding: 80px 0;
    box-sizing: border-box;

    &__image {
        height: 100%;
        width: 50%;
        box-sizing: border-box;
        padding-left: 80px;
        display: inline-block;

        img {
            background-color: darkgrey;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        float: right;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        height: 100%;
        padding-right: 80px;
        padding-left: 80px;
        box-sizing: border-box;
    }
}

.skills {
    height: 738px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 150px;

    p {
        width: 80%;
        margin: 0 auto;
    }

    &__items {
       display: grid; 
       grid-template-columns: repeat(4, 1fr);
       grid-template-rows: repeat(2, 1fr);
       grid-column-gap: 84px;
       grid-row-gap: 64px;
       width: 55%;
       margin: 0 auto;
       margin-top: 80px;
    }

    &__item {
        height: 76px;
        width: 100%;
        background-color: #f5f5f5;
    }
}

.contact {
    display: flex;
    align-items: center;
    padding: 90px 144px 90px 80px;
    background-color: #F5F5F5;

    button {
        height: 52px;
        width: 192px; 
        font-size: 17px;
        border-radius: 5px;
        border: 1px solid black;
        background-color: transparent;
        display: inline-block;
        margin-left: 45px;
    }
}

.portfolio {
    padding: 120px 80px 280px 80px;

    &__subtitle {
        width: 90%;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 84px;
    }
}

.portfolio-card {
    border: 1px solid rgba(0, 0, 0, 0.5);

    img {
        width: 100%;
    }

    &__content {
        padding: 70px 64px;
    }
}