@import "base";
@import "animations";
@import "shadow.scss";
@import "navbar";
@import "hero";
@import "portfolio";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    padding: 0;
    margin: 0;

}

.container {
    position: relative;
    overflow: auto;
}

.studies {
    height: 750px;
    padding: 120px 0px 120px 80px;

    &__title {
        font-size: 48px;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: -1.5%
    }

    &__item {
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        padding-right: 80px;

        h4 {
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: -1.5%
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: -1.5%;
            margin-bottom: 32px;
        }

        button {

            padding: 1em 2em;
            background: transparent;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}